<!-- More Info Section -->
  <footer>
    <article class="footer_column">
      <h3>PARROQUIA</h3>
      <img src="images/parroquia.jpg" alt="" width="200" height="200" class="cards"/>
      <p>La Parroquia Los Santos Apóstoles es una comunidad de los Redentoristas en la que se realizan varias actividades de cara a la ayuda de los más necesitados. La función de la conocida "Las Tartas" es realizar una recaudación benefica tras la venta de respostería para el Comedor de Lima</p>
    </article>
    <article class="footer_column">
      <h3>UBICACIÓN</h3>
  <iframe width="400" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=400&amp;height=200&amp;hl=en&amp;q=Parroquia%20Santos%20Ap%C3%B3stoles%20Boadilla%20del%20Monte+(Parrquia%20Santos%20Ap%C3%B3stoles)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>

      <p>La Parroquia se encuentra en las Urbanicación Las Lomas de Boadilla del Monte. La tranquilidad de la zona hace que los vecinos sean siempre bienvenidos.</p>
    </article>
  </footer>
  