<!-- Food Section -->
  <section class="food" id="food">
    <h2>Repostería</h2>
    <p> Aqui tendriamos que ir poniendo todas las fotos de las tartas pero estoy un poco atascada</p>


    <h3>Seleccionar una imagen:</h3>
    <form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
        <input type="file" name="image" />
        <input type='submit' value='Upload' />
    </form>


  </section>