<!-- Hero Section -->
  <section class="hero" id="hero">
    <h2 class="hero_header">HERO LIGHT</h2>
    <p class="tagline">Light is a simple one page website</p>
  </section>
  <!-- About Section -->
  <section class="about" id="about">
    <h2 class="hidden">About</h2>
    <p class="text_column">Poner una historua sobre como surge la idea de realizar esta cosa benefica par el comedor de lima. </p>
    <p class="text_column">Contar un poco acerca del comedor de lima que se hace y desde cuando ayudamos, los ninos que no reciben comida y que les viene super bien. </p>
    <p class="text_column">Dar las gracias a todos los que participan en estos proyectos ayudando y que estan los domingos pendiendtes de todas las tartas que llegan y poner los precios. </p>
  </section>